<!--https://www.scaler.com/topics/bootstrap-tutorial/bootstrap-login-form/-->

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 25px;">
    <a class="navbar-brand" href="#">Centennial Banking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- Admin Links -->
            <div th:if="${#strings.equals(customer.username, 'Admin')}" class="nav-item">
                <a class="nav-link" href="/admin">Customer Count by Account Type</a>
                <a class="nav-link" href="/admin-overdraft">Overdraft Customers</a>
                <a class="nav-link" href="/admin-high-savings">High Balance Savings Customers</a>
            </div>

            <!-- Common Links -->
            <a class="nav-item nav-link" href="/view-profile">Profile</a>
            <a class="nav-item nav-link" href="/view-accounts">Accounts<span>(current)</span></a>

            <!-- Logout Button -->
            <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </form>
        </div>
    </div>
</nav>



	<div class="container">
		<h2>Accounts</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Account Number</th>
					<th>Balance</th>
					<th>Overdraft Amount</th>
					<th>Account Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody>
			    <tr th:each="acc : ${accounts}">
			        <td th:text="${acc.accountNo}"></td>
			        
					<td th:inline="text">$ [[${#numbers.formatDecimal(acc.balance, 1, 'COMMA', 2, 'POINT')}]]</td>
					<td th:inline="text">$ [[${#numbers.formatDecimal(acc.overDraftLimit, 1, 'COMMA', 2, 'POINT')}]]</td>

			        <td th:text="${acc.accountTypeCode}"></td> <!-- Updated attribute name -->
			        <td>
			            <a class="btn btn-primary" th:href="@{/edit/{accountId}(accountId=${acc.accountNo})}">Update</a>
			            <form th:action="@{/account-delete/accountId/{accountId}(accountId=${acc.accountNo})}" method="post" style="display: inline;">
			                <input type="hidden" name="_method" value="post">
			                <button type="submit" class="btn btn-danger">Delete</button>
			            </form>
			        </td>
			    </tr>
			</tbody>

		</table>

		<div class="form-footer">
			<p><a href="/account" class="btn btn-primary">Add Account</a></p>
		</div>

	</div>